body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}

.dice {
    display: inline-block;
    text-align: center;
    font-size: 120px;
    color:ghostwhite;
    background-color: cornflowerblue;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 5px 10px 18px cadetblue;
    border-radius: 8px;
}

#generateBtn, #sumBtn, #rollBtn {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 25px;
    box-shadow: 5px 10px 18px cadetblue;
    border-radius: 8px;
}


